<!DOCTYPE html>
<html>
    <head>
    <meta charest="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/admin_orderlist.css" />
    <link rel="stylesheet" type="text/css" href="/css/template.css" />
    <title>後台管理</title>
 	<!-- indexJS -->
     <script src="/js/template.js"></script>
     <script src="/js/admin_orderlist.js"></script>
    </head>
    <body>
        <div class="ct">
            <div class="ct0">
                <div id="ct1" class="ct1">
                    <div class="t_ct1">訂購明細</div>

                    <div class="table-outbox">
                        <table id="table">
                          <thead>
                            <tr>
                              <th>訂單編號</th>
                              <th>會員帳號</th>
                              <th>收貨者姓名</th>
                              <th>收貨者電話</th>
                              <th>收貨地址</th>
                              <th>訂購時間</th>
                              <th>運費</th>
                              <th>訂購時間</th>
                              <th>是否付款</th>
                              <th>是否取消訂單</th>
                            </tr>
                          </thead>
                          <tbody id="tbody">
                        <!--
                            <tr>
                              <td>title-1</td>
                              <td>content-1</td>
                              <td>remark-1</td>
                              <td>remark-1</td>
                            </tr>
                        -->
                          </tbody>
                        </table>
                      </div>
                     
                </div>
              
            </div>
        </div>

     
      

    </body>
    
    
</html>