<!DOCTYPE html>
<html>
    <head>
        <meta charest="utf-8" />
         <!-- adminCSS -->
        <link rel="stylesheet" type="text/css" href="/css/admin.css" />
        <title>後台管理</title>
        <!-- adminJS -->
        <script src="/js/admin_login.js"></script>
    </head>
    <body>
        <div>
            <div class="login">
                <label class="title">管理者登入</label><br><br>
             
				<input type="text" id="admin_account" placeholder="請輸入管理者帳號" required><br><br>
         		<input type="text" id="admin_password" placeholder="請輸入管理者密碼" required><br><br>
				<button onclick="login()">登入</button>
            </div>
        </div>
    </body>
</html>