<style>
	.title{
	    font-size:30px
	}
	.subtitle{
	    font-size:25px
	}
    .login > a {
        text-decoration:none;
    }
</style>
<!DOCTYPE html>
<html>
    <head>
        <meta charest="utf-8" />
         <!-- adminCSS -->
        <link rel="stylesheet" type="text/css" href="/css/template.css" />
        <link rel="stylesheet" type="text/css" href="/css/admin_menu.css" />
        <title>後台管理</title>
        <!-- adminJS -->
        <script src="/js/template.js"></script>
        <script src="/js/admin_menu.js"></script>
    </head>
    <body>
        <div>
            <div class="login">
                <label class="title">管理者目錄</label><br><br><br>
                <a href="/admin_category"><label class="subtitle">◆商品分類</label></a><br><br><br>
                <a href="/admin_createproduct"><label class="subtitle">◆新增商品</label></a><br><br><br>
                <a href="/admin_searchproduct"><label class="subtitle">◆編輯商品</label></a><br><br><br>
                <a href="/admin_orderlist"></a><label class="subtitle">◆訂單管理</label></a><br><br>			
            </div>
        </div>
    </body>
</html>