<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/template/head')-%>

    <script src="../js/productlist.js"></script>
</head>
    <body>
        <!-- Navigation-->
        <%- include('../views/template/nav')-%>
        <!-- Section-->
        <section>
            <div class="container px-4 px-lg-5 mt-5">
                <p class="fs-6 mb-3">找到 381 件 "農產品" 商品</p>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card">
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                    NT$ 299
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">特價</div>
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                   
                                    <span class="text-muted text-decoration-line-through"> NT$ 299</span>
                                    NT$ 199
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card">
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                    NT$ 299
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card">
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                    NT$ 299
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card">
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                    NT$ 299
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card">
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                    NT$ 299
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card">
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                    NT$ 299
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card">
                            <!-- Product image-->
                            <a class="text-decoration-none"  href="../productdtl/1" title="Elephant Cuppa 環保減塑大象杯2代">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Elephant Cuppa 環保減塑大象杯2代" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Elephant Cuppa 環保減塑大象杯2代</h5>
                                    <!-- Product price-->
                                    NT$ 299
                                </div>
                            </div>
                        
                        </div>
                    </div>
                   
                </div>

            </div>
            <!-- Page-->
            <div class="d-flex justify-content-center">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-secondary"><</button>
                    <button type="button" class="btn btn-outline-secondary">1</button>
                    <button type="button" class="btn btn-outline-secondary">2</button>
                    <button type="button" class="btn btn-outline-secondary">3</button>
                    <button type="button" class="btn btn-outline-secondary">4</button>
                    <button type="button" class="btn btn-outline-secondary">></button>
                </div>
                <div class="btn-group me-2" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    前往頁面
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">1</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    </ul>
                </div>
            </div>
           </div>
        </section>
          <!-- footer-->
        <%- include('../views/template/footer')-%>
    </body>
</html>
