.btn-outline-secondary:hover {
    color: #212529;
    background-color: #71c09b;
    border-color: #212529;
}

.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
    color: #212529;
    background-color: #0b6a3e;
    border-color: #71c09b;
    }

.btn-outline-secondary > i {
        color: #212529;
        }

.bg-dark {
        --bs-bg-opacity: 1;
        background-color: #0b6a3e  !important; 
    }

.form-control:focus,.form-select:focus {
        color: #212529;
        background-color: #fff;
        border-color: #71c09b;
        outline: 0;
        box-shadow: none ;
       
      }    
.form-control,.form-select {
      border-color: #6c757d;
       
 }  
 
 div.divslide
 {
    height: 120px;
    display: none;
    position: absolute;
    top: 60px;
    border-style: solid;
    right: 200px;
 }