
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>鄉間曉路</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="/css/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/styles_custom.css" rel="stylesheet" />
   <!-- Bootstrap core JS-->
   <script src="/js/bootstrap.bundle.min.js"></script>
   
    <!-- Core theme JS-->
     <script src="/js/jquery-1.12.4.min.js"></script> 

    </script>